.room-component {
  min-height: 190px;
  max-height: 190px;
  width: 920px;
  box-shadow: 3px 3px 8px rgb(0 0 0 / 10%);
  border-radius: 8px;
  margin-top: 20px;
  background-color: #ffffff;
  cursor: pointer;

  &:hover {
    // filter: brightness(110%);
  }

  .thumbnail-room-side {
    padding: 14px;

    .thumbnail-image {
      border-radius: 8px;
      height: 164px;
      width: 164px;
      object-fit: cover;
    }
  }

  .information-room-side {
    margin-top: 4px;

    .room-title {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: #000000;
      margin-bottom: 0px;
      word-break: break-word;
    }

    .room-address {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #666666;
      margin-bottom: 0px;
      
    }

    .width76{
      width: 76%;
      word-wrap: break-word;
    }

    .room-utilities {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      margin-top: 6px;
    }

    .multi-utilities {
      width: 100%;
    }

    .icon {
      margin-right: 8px;
      padding: 3px;
      margin-bottom: 2px;
    }

    .room-price {
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 68px;
      color: #00bfb9;
      margin-bottom: -32px;
    }

    .room-price-unit {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 191, 185, 0.8);
    }

    .price-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .room-for-rent-info {
      padding: 0 4px;
      font-size: 15px;
      color: #000;
    }
  }
}

.room-price-manage {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 68px;
  color: #00bfb9;
  margin-bottom: -32px;
  position: absolute;
  top: -52px;
  left: 52px;
}

.room-price-unit-manage {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 191, 185, 0.8);
  position: absolute;
  top: 0px;
  left: 38px;
}

.room-button-payment-manage{
  button{
    padding: 8px 16px;
    height: 44px;
    margin-right: 14px;
  }
}
.no-data {
  margin-top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}