.content {
    margin-left: 44px;
    .right-content {
        .form-data {
            line-height: 44px;
            .first-title {
                font-size: 32px;
                font-weight: 700;
            }
            .second-title {
                font-size: 20px;
                color: #666666;
            }

            .old-password {
                margin-top: 8px;
            }
            .new-password {
            }
            .confirm-password {
            }
            .btn-change-pass {
                margin-top: 16px;
                width: 100%;
            }
        }
    }
}
