.ant-form-item-explain-error {
  display: flex;
  &::before {
    content: url("../icons/warning.svg");
    vertical-align: middle;
  }
}

//hide up/down input number
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.ant-notification {
  z-index: 4;
}

//Modal footer btn
.ant-modal-footer {
  .ant-btn-primary {
    background-color: #00bfb9;
    border-color: #00bfb9;
  }

  .ant-btn-default {
    background-color: #00bfb9;
    border-color: #00bfb9;
  }
}

// Start Custom css Button
// .ant-btn {
//   height: 38px;
//   width: 100px;
//   border-radius: 4px;
//   border: none;
//   background-color: #00bfb9;
//   color: #ffffff;
//   font-style: normal;
//   font-weight: 700;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

//   &:hover,
//   &:active,
//   &:focus,
//   &:focus-visible,
//   &:focus-within,
//   &:target {
//     background-color: #00bfb9;
//     opacity: 0.8;
//     color: #ffffff;
//   }

//   &:focus-visible {
//     outline: none;
//   }

// }

// .btn-cancel {
//   background-color: #fff;
//   color: #000;
//   border: 1px solid #00bfb9;

//   &:hover {
//     background-color: #fff;
//     opacity: 0.5;
//     color: #000;
//     border: 1px solid #00bfb9;
//   }
// }
// End Custom css Butotn

// Start Custom css Input
.ant-input {
  height: 44px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.101961);
  border-radius: 6px;
  -webkit-box-shadow: none !important;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:target {
    border: 1px solid #00bfb9;
    color: #000000;
  }
}

.ant-input-affix-wrapper {
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  -webkit-box-shadow: none !important;
  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:target {
    border: 1px solid #00bfb9 !important;
  }
}

.ant-input-affix-wrapper > .ant-input {
  height: 32px;
  box-shadow: none;
  -webkit-box-shadow: none !important;
  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:target,
  &:-webkit-autofill {
    border: none !important;
    box-shadow: none !important;
    background-color: #ffffff !important;
    -webkit-box-shadow: none !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
// End Custom css Input

//Start Custom css Label
.ant-form-item-label {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 4px !important;

  &::after {
    content: "*";
    display: inline-block;
    margin-right: 8px;
    color: #ff4d4f;
    font-size: 16px;
    line-height: 1;
  }
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional) {
  &::before {
    content: "";
  }
}

//End Custom css Label

.ant-form-item {
  margin-bottom: 8px;
}

.ant-descriptions-header {
  margin-bottom: 0px;
}

.ant-divider-horizontal.ant-divider-with-text {
  margin: 0;
}

.required-no-icon > .ant-form-item-label::after {
  content: "";
}

.required-no-icon > .ant-form-item-label::after {
  content: "";
}

// Custom css Modal Confirm
.modal-confirm {
  .ant-btn-default {
    background-color: #fff;
    color: #00bfb9;
    border: 1px solid #00bfb9;

    &:hover {
      background-color: #fff;
      opacity: 0.5;
      color: #000;
      border: 1px solid #00bfb9;
    }
  }

  .ant-modal-title {
    color: #00bfb9;
    font-size: 22px;
  }
}

.isDelete {
  .ant-btn-primary {
    background-color: #e14242;
    color: #fff;

    &:hover {
      opacity: 0.7;
      color: #fff;
    }
  }

  .ant-modal-title {
    color: #e14242;
  }
}

//Custom css Process Line

.process-line {
  background-color: #f6f6f6;

  .anticon {
    color: #00bfb9;
  }

  .ant-steps-item-process {
    .anticon {
      color: #00bfb9;
    }
  }

  .ant-steps-item-wait {
    .anticon {
      color: #c0c0c0;
    }
  }

  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    background-color: #00bfb9;
  }

  .ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    background-color: #c0c0c0;
  }

  .ant-steps-item-process,
  .ant-steps-item-finish {
    .ant-steps-item-title {
      color: #00bfb9 !important;
    }
  }

  .ant-steps-item-process {
    .ant-steps-item-title {
      font-weight: bold;
    }
  }

  .ant-steps-item-wait
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    background-color: #c0c0c0;
  }

  .ant-steps-item-content {
    margin: -4px 0 0 -2px;
  }

  .ant-steps-item-tail::after {
    height: 2px;
  }
}
.ant-layout {
  background-color: #f6f6f6;
}

//Custom css Select Box
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 44px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.101961);
  border-radius: 6px;
  -webkit-box-shadow: none !important;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:target {
    border: 1px solid #00bfb9;
    color: #000000;
  }
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #00bfb9;
  color: #000000;
}

.ant-select-selection-item {
  display: flex;
}

.ant-select-selector {
  display: flex;
  align-items: center;
}

// Style something
.display-center {
  display: flex;
  justify-content: center;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  display: flex;
}

//Style Slider

.ant-slider-handle {
  border-color: #00bfb9;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:target,
  &:-webkit-autofill {
    border-color: #00bfb9;
  }
}

.ant-slider-track {
  background-color: #00bfb9;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:target,
  &:-webkit-autofill {
    border-color: #00bfb9;
  }
}

.ant-slider {
  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:target,
  &:-webkit-autofill {
    background-color: none;
  }
}

//Style checkbox
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00bfb9;
  border-color: #00bfb9;
}

.ant-checkbox-checked::after {
  border-color: #02ada8;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #00bfb9;
}

.ant-slider-handle {
  border-color: #00bfb9;
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #00bfb9;
}

.ant-slider:hover .ant-slider-track {
  background-color: #00bfb9;
}

//Style datepicker
.ant-picker:hover,
.ant-picker-focused {
  border-color: #00bfb9;
  box-shadow: 0 0 0 2px rgb(0 191 185 / 20%);
}

.ant-picker-today-btn {
  color: #00bfb9;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #00bfb9;
}

//custom pagination css

.ant-pagination-item {
  border-color: #ccc;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:target,
  &:-webkit-autofill {
    border-color: #00bfb9;
    color: #00bfb9;
  }
}

.ant-pagination-item-active,
.ant-pagination-item-active a {
  color: #00bfb9;
  border-color: #00bfb9;
}

.ant-pagination-item:hover a {
  color: #00bfb9;
}

.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-link-icon,
.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon {
  color: #00bfb9;
}

.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #00bfb9;
  border-color: #00bfb9;
}

//Spriner
.ant-spin-dot-item {
  background-color: #00bfb9;
}

td {
  word-break: break-all;
}
