.small-icon {
  content: url("../icons/Big-Icon.svg");
  vertical-align: middle;
  width: 60px;
}

.big-icon {
  content: url("../icons/Big-Icon.svg");
  vertical-align: middle;
  width: 358px;
}

.btn-face {
  content: url("../icons/facebook.png");
  vertical-align: middle;
  width: 200px;
  height: 64px;
}

.btn-google {
  content: url("../icons/google.png");
  vertical-align: middle;
  width: 200px;
  height: 64px;
}

.room-no-icon {
  content: url("../icons/room-no.svg");
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-left: 2px;
}

.home-icon {
  content: url("../icons/home.svg");
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.money-icon {
  content: url("../icons/money.svg");
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-left: 3px;
}

.user-icon {
  content: url("../icons/user.svg");
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-left: 3px;
}

.canlendar-icon {
  content: url("../icons/calendar.svg");
  vertical-align: middle;
  width: 34px;
  height: 34px;
  margin-left: 2px;
}

.area-icon {
  content: url("../icons/area.svg");
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.light-icon {
  content: url("../icons/light.svg");
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.water-icon {
  content: url("../icons/water.svg");
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.loupe-icon {
  content: url("../icons/loupe-icon.svg");
  vertical-align: middle;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.bed-icon {
  background-color: #000;
  -webkit-mask: url(../icons/Bed.svg) no-repeat center;
  mask: url(../icons/Bed.svg) no-repeat center;
  height: 40px;
}

.time-icon {
  background-color: #000;
  -webkit-mask: url(../icons/Time.svg) no-repeat center;
  mask: url(../icons/Time.svg) no-repeat center;
  height: 40px;
}

.washing-machine-icon {
  background-color: #000;
  -webkit-mask: url(../icons/Washing_Machine.svg) no-repeat center;
  mask: url(../icons/Washing_Machine.svg) no-repeat center;
  height: 40px;
}

.air_Condition-icon {
  background-color: #000;
  -webkit-mask: url(../icons/Air_Condition.svg) no-repeat center;
  mask: url(../icons/Air_Condition.svg) no-repeat center;

  height: 40px;
}

.television-icon {
  background-color: #000;
  -webkit-mask: url(../icons/Television.svg) no-repeat center;
  mask: url(../icons/Television.svg) no-repeat center;
  height: 40px;
}

.refrigerator-icon {
  background-color: #000;
  -webkit-mask: url(../icons/Refrigerator.svg) no-repeat center;
  mask: url(../icons/Refrigerator.svg) no-repeat center;
  height: 40px;
}

.wifi-icon {
  background-color: #000;
  -webkit-mask: url(../icons/Wifi.svg) no-repeat center;
  mask: url(../icons/Wifi.svg) no-repeat center;
  height: 40px;
}

.parking-icon {
  background-color: #000;
  -webkit-mask: url(../icons/Parking.svg) no-repeat center;
  mask: url(../icons/Parking.svg) no-repeat center;
  height: 40px;
}

.toilet-icon {
  background-color: #000;
  -webkit-mask: url(../icons/Toilet.svg) no-repeat center;
  mask: url(../icons/Toilet.svg) no-repeat center;
  height: 40px;
}

.kitchen-icon {
  background-color: #000;
  -webkit-mask: url(../icons/Kitchen.svg) no-repeat center;
  mask: url(../icons/Kitchen.svg) no-repeat center;
  height: 40px;
}

.bed-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/Bed.svg) no-repeat center;
  mask: url(../icons/Bed.svg) no-repeat center;
  height: 40px;
}

.time-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/Time.svg) no-repeat center;
  mask: url(../icons/Time.svg) no-repeat center;
  height: 40px;
  height: 40px;
}

.washing-machine-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/Washing_Machine.svg) no-repeat center;
  mask: url(../icons/Washing_Machine.svg) no-repeat center;
  height: 40px;
}

.air_Condition-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/Air_Condition.svg) no-repeat center;
  mask: url(../icons/Air_Condition.svg) no-repeat center;

  height: 40px;
}

.television-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/Television.svg) no-repeat center;
  mask: url(../icons/Television.svg) no-repeat center;
  height: 40px;
}

.refrigerator-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/Refrigerator.svg) no-repeat center;
  mask: url(../icons/Refrigerator.svg) no-repeat center;
  height: 40px;
}

.wifi-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/Wifi.svg) no-repeat center;
  mask: url(../icons/Wifi.svg) no-repeat center;
  height: 40px;
}

.parking-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/Parking.svg) no-repeat center;
  mask: url(../icons/Parking.svg) no-repeat center;
  height: 40px;
}

.toilet-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/Toilet.svg) no-repeat center;
  mask: url(../icons/Toilet.svg) no-repeat center;
  height: 40px;
}

.kitchen-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/Kitchen.svg) no-repeat center;
  mask: url(../icons/Kitchen.svg) no-repeat center;
  height: 40px;
}

//

.bed-utility-icon {
  background-color: #000;
  -webkit-mask: url(../icons/utilities/DoubleBed.svg) no-repeat center;
  mask: url(../icons/utilities/DoubleBed.svg) no-repeat center;
  height: 40px;
}

.time-utility-icon {
  background-color: #000;
  -webkit-mask: url(../icons/utilities/Time.svg) no-repeat center;
  mask: url(../icons/utilities/Time.svg) no-repeat center;
  height: 40px;
}

.washing-machine-utility-icon {
  background-color: #000;
  -webkit-mask: url(../icons/utilities/Washer.svg) no-repeat center;
  mask: url(../icons/utilities/Washer.svg) no-repeat center;
  height: 40px;
}

.air-condition-utility-icon {
  background-color: #000;
  -webkit-mask: url(../icons/utilities/AirCondition.svg) no-repeat center;
  mask: url(../icons/utilities/AirCondition.svg) no-repeat center;

  height: 40px;
}

.television-utility-icon {
  background-color: #000;
  -webkit-mask: url(../icons/utilities/Television.svg) no-repeat center;
  mask: url(../icons/utilities/Television.svg) no-repeat center;
  height: 40px;
}

.refrigerator-utility-icon {
  background-color: #000;
  -webkit-mask: url(../icons/utilities/Refrigerator.svg) no-repeat center;
  mask: url(../icons/utilities/Refrigerator.svg) no-repeat center;
  height: 40px;
}

.wifi-utility-icon {
  background-color: #000;
  -webkit-mask: url(../icons/utilities/Wifi.svg) no-repeat center;
  mask: url(../icons/utilities/Wifi.svg) no-repeat center;
  height: 40px;
}

.parking-utility-icon {
  background-color: #000;
  -webkit-mask: url(../icons/utilities/Packing.svg) no-repeat center;
  mask: url(../icons/utilities/Packing.svg) no-repeat center;
  height: 40px;
}

.toilet-utility-icon {
  background-color: #000;
  -webkit-mask: url(../icons/utilities/Toilet.svg) no-repeat center;
  mask: url(../icons/utilities/Toilet.svg) no-repeat center;
  height: 40px;
}

.kitchen-utility-icon {
  background-color: #000;
  -webkit-mask: url(../icons/utilities/Kitchen.svg) no-repeat center;
  mask: url(../icons/utilities/Kitchen.svg) no-repeat center;
  height: 40px;
}

.bed-utility-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/utilities/DoubleBed.svg) no-repeat center;
  mask: url(../icons/utilities/DoubleBed.svg) no-repeat center;
  height: 40px;
}

.time-utility-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/utilities/Time.svg) no-repeat center;
  mask: url(../icons/utilities/Time.svg) no-repeat center;
  height: 40px;
  height: 40px;
}

.washing-machine-utility-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/utilities/Washer.svg) no-repeat center;
  mask: url(../icons/utilities/Washer.svg) no-repeat center;
  height: 40px;
}

.air-condition-utility-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/utilities/AirCondition.svg) no-repeat center;
  mask: url(../icons/utilities/AirCondition.svg) no-repeat center;

  height: 40px;
}

.television-utility-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/utilities/Television.svg) no-repeat center;
  mask: url(../icons/utilities/Television.svg) no-repeat center;
  height: 40px;
}

.refrigerator-utility-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/utilities/Refrigerator.svg) no-repeat center;
  mask: url(../icons/utilities/Refrigerator.svg) no-repeat center;
  height: 40px;
}

.wifi-utility-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/utilities/Wifi.svg) no-repeat center;
  mask: url(../icons/utilities/Wifi.svg) no-repeat center;
  height: 40px;
}

.parking-utility-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/utilities/Packing.svg) no-repeat center;
  mask: url(../icons/utilities/Packing.svg) no-repeat center;
  height: 40px;
}

.toilet-utility-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/utilities/Toilet.svg) no-repeat center;
  mask: url(../icons/utilities/Toilet.svg) no-repeat center;
  height: 40px;
}

.kitchen-utility-green-icon {
  background-color: #00bfb9;
  -webkit-mask: url(../icons/utilities/Kitchen.svg) no-repeat center;
  mask: url(../icons/utilities/Kitchen.svg) no-repeat center;
  height: 40px;
}

.manage-profile-icon {
  background-color: #05a6a1;
  -webkit-mask: url(../icons/manage/profile.svg) no-repeat center;
  mask: url(../icons/manage/profile.svg) no-repeat center;
  height: 60px;
  width: 60px;
}

.manage-room-icon {
  background-color: #05a6a1;
  -webkit-mask: url(../icons/manage/room.svg) no-repeat center;
  mask: url(../icons/manage/room.svg) no-repeat center;
  height: 60px;
  width: 60px;
}


.manage-key-icon {
  background-color: #05a6a1;
  -webkit-mask: url(../icons/manage/key.svg) no-repeat center;
  mask: url(../icons/manage/key.svg) no-repeat center;
  height: 60px;
  width: 60px;
}

.manage-logout-icon {
  background-color: #05a6a1;
  -webkit-mask: url(../icons/manage/logout.svg) no-repeat center;
  mask: url(../icons/manage/logout.svg) no-repeat center;
  height: 60px;
  width: 60px;
}

.manage-contract-icon {
  background-color: #05a6a1;
  -webkit-mask: url(../icons/manage/contract.svg) no-repeat center;
  mask: url(../icons/manage/contract.svg) no-repeat center;
  height: 60px;
  width: 60px;
}

.chart-icon {
  background-color: #05a6a1;
  -webkit-mask: url(../icons/room/chart-icon.svg) no-repeat center;
  mask: url(../icons/room/chart-icon.svg) no-repeat center;
  height: 50px;
  width: 44px;
  margin-right: 6px;
}

.no-data {
  content: url("../images/nodata.svg");
  vertical-align: middle;
  width: 140px;
}

.success-icon {
  content: url("../icons/check.png");
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.payment-date-icon {
  content: url("../icons/paymentDate.svg");
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.payment-status-icon {
  content: url("../icons/paymentStatus.svg");
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.address-icon {
  content: url("../icons/address.png");
  vertical-align: middle;
  width: 16px;
  height: 16px;
}


.admin-room-icon {
  content: url("../icons/admin/home.png");
  vertical-align: middle;
  width: 64px;
}

.admin-contract-icon {
  content: url("../icons/admin/contract.png");
  vertical-align: middle;
  width: 64px;
}

.admin-account-icon {
  content: url("../icons/admin/account.png");
  vertical-align: middle;
  width: 64px;
}